<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layout 2</title>
    <link rel="stylesheet" href="css/layout-5.css">

</head>

<body>
    <div class="wrapper">
        <div id="header">
            <div class="wr-inner">Header</div>
        </div>
        <div id="wr-content">
            <div class="wr-inner clearfix">
                <div id="sidebar" class="fl-right">sidebar</div>
                <div id="content" class="fl-left">Content</div>
            </div>

        </div>
        <div id="footer">
            <div class="wr-inner">Footer</div>
        </div>
    </div>
</body>

</html>