<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layout 7</title>
    <link rel="stylesheet" href="css/layout-7.css">

</head>

<body>
    <div class="wrapper">
        <div id="header">
            <div>Header</div>
        </div>
        <div id="wr-content">
            <div class="clearfix">
                <div id="sidebar-left" class="fl-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae
                    esse saepe neque et aspernatur, quaerat harum molestias voluptatem, laudantium corporis similique
                    perferendis, quidem inventore voluptates dolore eligendi. Repudiandae autem iusto consequuntur
                    aperiam. Voluptates esse, tempore error, quos neque laudantium veritatis quo eum perspiciatis
                    cumque, rerum aliquid debitis consequuntur! Neque ad odio magni adipisci voluptate unde nobis quasi
                    sed, voluptatum accusantium tempore beatae aspernatur autem nam saepe distinctio doloribus
                    perferendis deserunt aut. Voluptatem ut harum ullam, vero quos, quae necessitatibus reiciendis
                    incidunt odio explicabo omnis, aliquam aut unde iusto. Quia quibusdam sunt velit explicabo? Vel
                    dolor cupiditate tempora, in nulla praesentium quia quisquam nobis, eaque minus suscipit eligendi et
                    provident laborum, ex officia excepturi sed quibusdam. Suscipit qui assumenda cum, maxime enim porro
                    ea ipsam ab, totam, eos ipsa pariatur recusandae. Quo obcaecati alias optio amet unde? Numquam
                    veniam voluptatibus fugit natus unde perferendis eum. Corporis impedit voluptates mollitia alias
                    quidem? Nostrum pariatur vero ab temporibus voluptatibus repellendus officiis praesentium ut
                    corporis veritatis. Laboriosam omnis dolor veritatis ex, est quis vitae ab quasi eaque similique nam
                    tenetur, reprehenderit architecto, earum nihil. Blanditiis amet illum assumenda ea ducimus omnis
                    vero dignissimos quaerat. Rerum, explicabo accusamus temporibus esse placeat obcaecati impedit
                    magnam nihil.</div>
                <div id="content" class="fl-left">
                    <h1>Đây là phần content</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
                    tempore incidunt natus maxime nemo dolore pariatur, obcaecati numquam temporibus officiis
                    exercitationem libero vitae asperiores inventore? Amet iste nisi vel enim tempora minus illo unde
                    sapiente eum distinctio, labore cupiditate pariatur sit, atque aperiam ea ab animi fuga expedita
                    voluptate. Velit, maxime enim! Molestias nisi commodi, amet adipisci ipsam corporis unde ad impedit,
                    neque aut, optio eos nesciunt ullam numquam id? Porro tempore veniam dolor. Nam totam rem quam nihil
                    dolores iusto minus molestias labore non? Beatae, nihil cumque repudiandae possimus iste nobis,
                    voluptatibus illum commodi optio ad modi quae odit!</p></div>
                <div id="sidebar-right" class="fl-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    quaerat, doloribus sed consectetur ipsa totam qui? Laboriosam ipsa maiores adipisci ut, tempora,
                    voluptate architecto dignissimos voluptatum illum amet in, tempore sequi. Reprehenderit beatae
                    perspiciatis officiis, aspernatur atque eligendi commodi ex labore nemo aliquid officia expedita
                    veritatis cum possimus molestias laboriosam earum magni eius asperiores fuga similique, consectetur
                    illum rerum ipsum. Ex aspernatur sed illo veniam voluptates. Rem ratione veniam a, molestiae
                    corporis magni mollitia reprehenderit quo dolorem, at obcaecati, distinctio tempore assumenda! Sequi
                    ea ratione labore maiores architecto obcaecati rerum tempore, modi vitae dolorem quas voluptas illum
                    sapiente libero eius debitis fugit ipsa! Voluptatem quibusdam ex quidem repudiandae amet! Quia fugit
                    aperiam facere consectetur, similique iste architecto excepturi perferendis. Labore facilis cumque
                    eius consectetur perspiciatis illo delectus adipisci officiis ad? Sit obcaecati soluta possimus
                    sequi magni quidem fugiat. Ducimus aut temporibus eos rerum voluptas rem voluptates obcaecati
                    sapiente ea, non ad quam fuga adipisci mollitia sed illo amet quo commodi beatae asperiores! Optio
                    aut dignissimos fugit eum eligendi? Nisi rem repudiandae saepe molestias ipsa, quo adipisci iusto
                    dolorum alias dolorem molestiae, accusamus voluptatum nihil velit soluta in facilis delectus veniam
                    quidem aliquid, illo fugiat modi optio tenetur! Laborum, maxime corrupti!</div>
            </div>

        </div>
        <div id="footer">
            <div>Footer</div>
        </div>
    </div>
</body>

</html>