<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layout 8</title>
    <link rel="stylesheet" href="css/layout-8.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500i&display=swap" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            Header
        </div>
        <div id="wr-content">
            <div id="sidebar-left" class="fl-left">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis saepe error maiores qui est? Natus
                    consectetur sit omnis quasi tempora necessitatibus molestias, veniam placeat aperiam ea quaerat
                    distinctio illum, perspiciatis quidem quo? Ut inventore totam voluptatem asperiores maiores! Nulla
                    eum quaerat quod quae expedita iste voluptatibus sit, accusamus deserunt est. Dignissimos voluptas,
                    ratione libero cumque repellat quod consequatur magni, omnis, quis minima quaerat doloremque vel est
                    atque sed iste a laudantium. Rerum eveniet sunt harum aliquam? Dolorem, repudiandae. Vel suscipit
                    autem fugiat cupiditate ipsam reprehenderit, architecto sed, soluta voluptatem ab obcaecati, error
                    hic corrupti. Corrupti aliquid alias hic. Atque recusandae libero dolore vero ea modi!
                    Exercitationem debitis consequatur veniam quas cum accusantium a dolor praesentium, cumque mollitia
                    eum voluptas itaque rerum, laudantium impedit ab cupiditate, quibusdam autem quisquam saepe. Minus
                    dolor quod vero doloribus nesciunt aliquid, culpa totam impedit vitae corrupti incidunt dignissimos
                    architecto exercitationem officia illo consectetur ratione, asperiores at sunt doloremque
                    necessitatibus distinctio sequi ducimus. Omnis odit illo cumque adipisci beatae voluptatum
                    reiciendis, nesciunt eligendi officia rerum nulla eos fuga? Vitae sit eius ad tempora consectetur
                    atque eaque veniam suscipit, asperiores iste error tempore libero est dicta natus, placeat
                    consequatur a rem odio. Voluptas provident culpa doloremque facere.</p>
            </div>
            <div id="content" class="fl-left">
                <h1> Heloo every one</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur expedita itaque, consequatur
                exercitationem corrupti obcaecati velit id. Impedit placeat totam voluptas nesciunt laboriosam, eveniet
                quam molestiae dolores excepturi sint veritatis iure alias voluptatum quibusdam architecto, ab deleniti
                at! Facere, hic! Libero dolorum temporibus hic earum natus, possimus ad itaque nihil tempore eius odit
                est commodi, repellendus eligendi consequatur assumenda incidunt perspiciatis esse unde sunt? Illo velit
                vitae distinctio dolorum? Vel reprehenderit aliquam laboriosam excepturi, quo quis ex ad porro placeat
                eveniet atque error optio deserunt culpa blanditiis perferendis, unde a! Quisquam quam, optio ipsam
                perferendis consequatur fuga neque impedit eligendi?
            </div>
            <div id="sidebar-right" class="fl-right">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum cum
                iure maxime necessitatibus cumque nulla! Rerum aut eos nisi sed temporibus ipsum quia, laborum, natus
                laboriosam nobis libero quidem autem quod tempore doloribus dolorum fugiat, explicabo perferendis
                possimus quaerat! Ipsa facilis, nobis repudiandae neque quisquam esse cum. Rem, consequuntur voluptas.
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="footer">footer</div>
    </div>
</body>

</html>