<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout 3</title>
    <link rel="stylesheet" href="css/layout-6.css">
</head>
<body>
    <div id="wrapper" class="clearfix">
        <div id="header" ><div class="wr-inner">Header</div></div>
        <div id="wr-content">
            <div class="wr-inner">
                    <div id="content" >Content</div>
                    <div id="sidebar" >sidebar</div>
            </div>

            
        </div>
        <div id="footer"><div class="wr-inner">footer</div></div>
    </div>
</body>
</html>