body{
    font-family: arial;
    
    line-height: 23px;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
}
#header{
    background-color: gray;
    position: relative;
}
#logo{
    color: #ffffff;
    font-weight: bold;
    padding: 18px 21px;
    font-size: 20px;
}
ul#respon-menu{
    margin-left: 20px;
    padding: 0px;
    list-style: none;
    display: none;

}
ul#respon-menu li{
    margin-top: 5px;
    border-bottom: 1px solid #333333;

}
ul#respon-menu li a{
    display: block;
    text-decoration: none;
    color: cornsilk;
}
ul#main-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul#main-menu li{
    float: left;
}
ul#main-menu li a{
    padding: 18px 21px;
    display: block;
    color: honeydew;
    text-decoration: none;
    
}
#icon-menu-responsive{
    position: absolute;
    top: 22px;
    right: 20px;
    display: none;
    color: honeydew;
}
#content{
    float: left;
    width: 70%;
    min-height: 600px;
    color: violet;
    background-color:#f5f5f5;
}
#sidebar{
    float: right;
    width: 30%;
    min-height: 600px;
    color: teal;
    background: antiquewhite;
}
#footer{
    padding: 5px;
    text-align: center;
    background-color: gray ;
}