body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    width: 960px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
/* ============header============== */
#header{
    background-color: #0073aa;
    flex: 100%;
   
}
#header h2{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0px;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0px;

}
/* =================content=========== */
#content{
    flex: 660px;
    min-height: 592px;
    background-color: #f4f4f4;
}
#sidebar{
    flex: 300px;
    min-height: 592px;
    background-color: #f4f4f4;
}
/* =================footer============= */
#footer{
    background-color: #232323;
    flex: 100%;
}
#footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 5.2px 0px;
    color: #ffffff;
    margin: 0px;

}

