#header{
    background: #2bbc9b; 
    height: 86px;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 22px;
}
#main-menu{
    width: 280px;
    top: 86px;
    left: 0px;
    position: absolute;
}
#header .wp-inner{
    position: relative;
}
#main-menu li a{
    padding: 20px 36px 22px;
    background: #2bbc9b; 
    display: block;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;  
}
.logo{
    padding: 11px 0px;
    display: block;
}
#main-menu li{
    position: relative;
}
#main-menu .sub-menu li{

    float: none;  
}
#main-menu .sub-menu {
    width: 280px;
    position: absolute;
    left: 100%;
    top: 0px;
    display: none;
}
#main-menu .sub-menu li:hover>a::after,#main-menu li:hover>a::after{
    font-family:FontAwesome;
    content: "\f0da";
    position: absolute;
    right: 15px;
    top: 24px;
    font-size: 16px;
    display: block;

}
#main-menu li:hover>.sub-menu{
    display: block;
}
#main-menu li:hover>a{
    background: #24a085;
    transition: all 0.25s;
}
#sidebar{
    height: 470px;
    background:#f4fcff;
}


