/* style header */
#header{
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #d8d8d8;
}

ul#main-menu li{
    display: block;
    float: left;
}
ul#main-menu {
    margin-left: 67px;
}
ul#main-menu li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 20px 15px;
    display: block;
}
#logo{
    padding: 11px 0px 10px 0px;
    display: block;
}
/* style search */
#from{
    width: 180px;
    height: 35px;
    margin-top: 10px;
    position: relative;
}
#search-frame{
    width: 180px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    position: relative;
    display: inline-block;
    height: 35px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 13px;
}
.icon .fa{
    top: 10px;
    position: absolute;
    left: 141px;
    font-size: 13px;
    color: #a3a3a3;
}
/* Style selection (vùng chọn)*/
/* link-tree */

#link-tree{
    height: 30px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
}
#wp-link-tree{
    width: 1170px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 11px;

}
#link-tree a{
    text-decoration: none;  
}
#link-tree-category{
    color: #564b46;
}
#link-tree-home{
    display: block;
    width: 64px;
    font-weight: bold;
    position: relative;
    color: #000000;
    text-decoration: none;
}
#link-tree-01{
    padding-left: 12px;
    font-weight: 300;
}
#link-tree-01 a:before{
    font-family: FontAwesome;
    content: "\f105";
    margin-left: -8px;
    position: absolute;
}
#link-tree a:hover, #link-tree a:hover a:before{
    color: #969696;
}

/* end link-tree */
/* Style content */


/* style content */
#content{
    width: 834px;
    padding: 0px 32px 0px 0px;
    border-right: 1px solid #d8d8d8;
    min-height: 592px;
    
}
/* .cover{
    width: 795px;
} */
#content a ,#content a img{
    display: block;
}
.cover{
    width: 795px;
    min-height: 400px;

    background: #ffffff;
}
.cover a{
    display: block;
}
.cover .post-cover{
    margin-bottom: 30px;
    height: 270px;
}
.cover .post-cover .post-desc{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #3f3f3f;
    text-decoration: none;
    text-align: justify;
}
.cover .post-cover .post-title {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    display: block;
    text-decoration: none;
}
.cover .post-cover .post-thumb{
    width: 405px;
    margin-right: 30px;  
}
.cover .list-post{
    width: 795px;
    min-height: 200px;
}
.cover .list-post li{
    width: 390px;
    margin-bottom: 20px;
}
.cover .list-post li.fl-left{
    margin-right: 15px;
}

.cover .list-post li a.post-thumb{
    margin-right: 20px;
}
.cover .list-post li a.post-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    display: block;
    text-decoration: none;
}

/* .cover .list-post .list-post-left{
    width: 405px;
}
.cover .list-post .list-post-left li>li{
    margin-bottom: 20px;
}
.cover .list-post .list-post-right li>li{
    margin-bottom: 20px;}
.cover .list-post .list-post-right{
    width: 369px;
  
}
.cover .list-post .post-thumb{
    margin-right: 20px;
}
.cover .list-post .post-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    display: block;
    text-decoration: none;
} */
/* Style Widget */
.widget{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
}
.widget .list-post li{
    display: block;
    margin-bottom: 40px;
}
.widget .list-post li a {
    display: block;
    text-decoration: none;
}
.widget .list-post li a.post-title p{
    font-family: 'Roboto';
    font-weight:400;
    color: #000000;
    line-height: 20px;
    font-size: 20px;
}
.widget .list-post li p.post-desc{
    font-size: 16px;
    color: #464646;
    text-align: justify;
}
.widget .list-post .post-thumb{
    width: 250px;
    margin-right: 18px;
}
.list-post li .date::before{
    font-family: FontAwesome;
    content: '\f017';
    display: inline-block;
    font-size: 12px;
    color: #c4c4c4;
}
.list-post li .date{
    font-size: 12px;
    color: #a5a5a5;
    margin: 7px;
    font-weight: 400;
    font-family: 'Roboto';
}
.page{
    margin-left: 252px;
}
.page .list-page li{
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #dedede;
}
.page .list-page li a{
    text-decoration: none;
    padding: 7px;
    display: block;
    text-align: center;

}
.cover-feature{
    border-top: 1px solid #01a050;
    padding-top: 40px;
   
}
/* Style Sidebar */
#sidebar{   
    width: 336px;
    padding-left: 30px;
    
}
#sidebar .widget-sidebar{
    margin-bottom: 50px;
}
#sidebar .widget-sidebar .top-view{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    margin: 49px 0px 16px 0px;
    color: #000000;
}
#sidebar .widget-content{
    width: 100%;
    border-top: 1px solid #01a050;
    padding-top: 20px;
}
#sidebar .widget-content .list-post{
    margin-left: 0px;  
    width: 292px;
    margin-left: 15px;
}

#sidebar .widget-content .list-post li{
    margin-bottom: 20px;
}
#sidebar .widget-content .list-post li a.thumb{
    float: left;
    display: block;
    padding-right: 23px;
}
#sidebar .widget-content .list-post li a.post-title{
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #262626;
}
/* end sidebar */

/* Style footer */
#footer{
    background: #01a050;
    min-height: 343px;
    margin-top: 75px;
}
#footer .widget-footer{

padding: 43px 0px 45px 0px;
}
.widget-about-us{
    width: 278px;   
    margin-right: 15px;
}
.widget-title-footer{
    font-size: 21px;
    line-height: 22px;
    color: #ffffff;
    font-family:'Roboto';
    font-weight: 500;
    margin-bottom: 35px;
}

.widget-about-us-content .list-us li{
    margin-bottom: 24px;
}

.widget-about-us-content .list-us li a,.widget-about-us-content .list-us li p{
    font-size: 15px;
    font-family: 'Roboto';
    line-height: 24px;
    font-weight: 400;
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-align: justify;
}
.widget-about-us-content .list-us li.email a::before{
    font-family: FontAwesome;
    content: '\f003';
    margin-right: 10px;
}
.widget-about-us-content .list-us li.phone a::before{
    font-family: FontAwesome;
    content: '\f095';
    margin-right: 10px;
}
.widget-category{
    width: 165px;
    margin: 0px 15px 0px 15px;  
}
.list-category li{
    margin-bottom: 20px;
    
}
.list-category li a{
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    position: relative;
    padding-left: 21px;
}
.list-category li a::before{
    font-family:FontAwesome;
    content: "\f105";
    position: absolute;
    left: 0px;
    font-size: 16px;
}
.widget-feature-new{
    width: 360px;
    margin: 0px 15px 0px 15px;  
}
#embed-fp{
    width: 277px;
    min-height: 198px;
}
.widget-fanpage{
    margin: 0px 0px 0px 15px;   
}
/* Style copyright */
#copyright{
    height: 40px;
    font-family: 'Roboto';
    color: #454545;
    font-size: 14px;
    text-align: center;
    display: block;
   margin-top: 15px;
}
/* Style hover */
ul#main-menu li:hover a{
    transition:all 0.5s;  
    color: #008643;
}

#wp-content a p:hover, #content h1:hover, #content h3:hover{
    color: #008643;
    transition:all 0.5s;  
}
#wp-content img:hover{
  
    color: #908e8e;
}
#footer a:hover, #footer li:hover a:before{
    color: #dcdbdb;
}
.page .list-page li:hover a{
    color: #008643;
    transition:all 0.5s;  
}