body{
    font-family: arial;
    font-size: 13px;
    line-height: 23px;
    color: #333;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
}
#header{
    position: relative;
}
#header,#footer{
    padding: 15px 10px;
    background: gray;
}
#logo{
    font-size: 20px;
    color: honeydew;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
#icon-menu-responsive{
    display: none;
    color: #f5f5f5;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 21px;
    cursor: pointer;
}

ul li {
    float: left;
    list-style: none;
    padding: 4px 19px;


}
ul li a{
    color: aliceblue;
    display: block;
    text-decoration: none;
    text-transform: none;
}

ul li:hover a{
    text-decoration: underline;
}
#content , #sidebar{
    min-height: 600px;

}
#content{
    float: left;
    background: #f5f5f5;
    width:70% ;
    min-height: 600px;
}
#sidebar{
    width: 30%;
    float: right;
    background: #d5d5d5;
    min-height: 600px;
}

